.error{
    width: 70%;
    margin: 0px 15%;
    padding: 20px 2.5%;
    background-color: beige;
    margin-top: 20px;
}

@media (min-width: 992px) {
    .error{
      width: 60%;
      margin: 0 15%;
      padding: 30px 6%;
      margin-top: 20px;
    }
}