.Navigation{
    display: none;
   
}

@media (min-width: 991px) {
    .Navigation{
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin: -6px 0;
        margin-right: 15%;
    }
}