.nutrientImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nutrientImgHolder{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nutrientName{
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: bold;
    padding: 8px;
    font-size: 15px;
    color: rgb(112, 111, 111);
    text-align: center;
}

.nutrientHeader{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 24px;
    color: rgb(112, 111, 111);
    border-bottom: 1px solid rgb(110, 109, 109);
}
.nutrients{
    overflow-y: scroll;
    height: 180px;
}


@media (max-width: 600px) {
    
}
