.captionTitleBlock{
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 33vh;
  position: absolute;
  z-index: 1;
  left: 0%;
}

.captionDescription{
  font-family: "Segoe UI", Arial, sans-serif;
  color: whitesmoke;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 600px) {
  .captionDescription{
    font-size: 18px;
  }

  .captionTitleBlock{
  width: 90%;
  height: 10vh;
  position: absolute;
  top: 33vh;
  position: absolute;
  z-index: 1;
  left: 5%
}

}