<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Home</title>
  </head>
  <body>
    <div id='root'>
        <div class='wall'></div>
        <div id='backdrop' class='backdrop backdropHide'></div>
        <div class='header headerTranparentBg'>
                
                <a href="./" class="logo">NutriFoods</a>
                <div id='drawerToggler' class='drawerToggler'>
                    <div class='drawerTogglerStroke'></div>
                    <div class='drawerTogglerStroke'></div>
                    <div class='drawerTogglerStroke'></div>
                </div>
                <ul class='navigation'>
                    <li class='navigationItem'><a href="./">Home</a></li>
                    <li class='navigationItem'><a href="./products.html">Products</a></li>
                
                </ul>
           
        </div>
         <div id="sidedrawer" class='sideDrawer close'>
            <button id="sideDrawerCloseBtn" class='sideDrawerCloseBtn'>x</button>
            <ul class='sideDrawerNav'>
                <li><a class="sideDrawerNavItem" href="./index.html">Home</a></li>
                <li><a class="sideDrawerNavItem" href="./products.html">Products</a></li>
            </ul>
        </div>
        <div class='titleBlock'>
            <h3 class="description">Access over 360,000 foods and their nutrient compositions</h3>
        </div>
            <div class='searchBox searchBoxTop'>
                <div class='search'>
                    <div class="searchInputBox">
                        <input class="searchInput" type="text" placeholder="Search..">
                        <div class="searchInputBtn"><i class="material-icons">search</i></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://platform.fatsecret.com/js?key=82a9b1e61acb4719b206b44bf091156c"></script>
  </body>
</html>