<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Home</title>
  </head>
  <body>
    <div id='root'>
        <div id='backdrop' class='backdrop backdropHide'></div>
        <div class='header headerBg'>
                <a href="./" class="logo">NutriFoods</a>
                <div id='drawerToggler' class='drawerToggler'>
                    <div class='drawerTogglerStroke'></div>
                    <div class='drawerTogglerStroke'></div>
                    <div class='drawerTogglerStroke'></div>
                </div>
                <ul class='navigation'>
                    <li class='navigationItem'><a href="./">Home</a></li>
                    <li class='navigationItem'><a href="./products.html">Products</a></li>
                
                </ul>
        </div>
        <div id="sidedrawer" class='sideDrawer close'>
            <button id="sideDrawerCloseBtn" class='sideDrawerCloseBtn'>x</button>
            <ul class='sideDrawerNav'>
                <li><a class="sideDrawerNavItem" href="./">Home</a></li>
                <li><a class="sideDrawerNavItem" href="./products.html">Products</a></li>
            </ul>
        </div>
        <div class="quaterWall">
        <div class='searchBox'>
            <div class='search'>
                <div class="searchInputBox">
                    <input class="searchInput" type="text" placeholder="Search.."><button class="searchInputBtn"><i class="material-icons">search</i></button>
                </div>
            </div>
        </div>
        </div>
        <div class='titleBox'>
            <p class=''>Products</p>
        </div>

        <div class='products'>
            <div class='product' onclick="displayProductNutrient()">
                <img class='productImage' src="./images/burger_by_master.jpg"/>
                <div class='productName'>Deli Burger</div>
            </div>
            <div class='product' onclick="displayProductNutrient()">
                <img class='productImage' src="./images/chips_and_hotdog.jpg"/>
                <div class='productName'>Chips and Hot Dog</div>
            </div>
            <div class='product' onclick="displayProductNutrient()">
                <img class='productImage' src="./images/chinese_2.jpg"/>
                <div class='productName'>Chinese</div>
            </div>
            <div class='product' onclick="displayProductNutrient()">
                <img class='productImage' src="./images/Lettuce-Wrapped-Turkey-Tacos-450x300.jpg"/>
                <div class='productName'>Lettuce Wrapped Turkey Tacos</div>
            </div>
            <div class='product'>
                <img class='productImage' src="./images/ac241c8de4b0dcf7_800x800ar.jpg"/>
                <div class='productName'>Biggi Burger</div>
            </div>
            <div class='product'>
                <img class='productImage' src="./images/maxresdefault (1).jpg"/>
                <div class='productName'>Oha Soup</div>
            </div>
            <div class='product'>
                <img class='productImage' src="./images/chickendinner_640x480.jpg"/>
                <div class='productName'>Chicken Peruru</div>
            </div><div class='product'>
                <img class='productImage' src="./images/thai.jpg"/>
                <div class='productName'>Thai rolls</div>
            </div>
            
        </div>
            
        </div>
  </body>
</html>